body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    
}

section {
    border: solid 4px orangered;
    width: 200px;
    height: 75px;
    text-align: center;
}

.grid-container {
    height: 100vh;
    grid-template-columns: 6;
    grid-template-rows: 6;
}

.item1 {
    grid-column-start: 4;
    grid-column-end: span 4;
}